body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  color: #555;
  font-size: 24px;
  margin-bottom: 29px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 28px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 18px;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  background-color: #fb1f77;
  color: white;
  border: none;
  padding: 18px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc1860;
}

.photo {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 20%;
  border: 4px solid #cc1860;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.35);
  margin: 15px 0;
  margin-top: -14px;
}

@media (max-width: 600px) {
  .container {
    width: 95vw;
    min-height: 80vh;
    padding: 40px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  label {
    font-size: 22px;
  }
  
  input {
    font-size: 18px;
  }

  button {
    font-size: 24px;
    padding: 20px;
  }

  .photo {
    width: 45vw;
    height: 45vw;
  }
}
}







